.grid
  position: relative
  margin: auto
  width: 1000px
  height: 500px
  overflow-y: auto
  box-sizing: border-box
  display: grid
  grid-template-columns: 100px 100px min-content 100px 100px 100px
  grid-template-rows: 30px
  grid-auto-rows: 30px
  grid-gap: 1px 1px
  border: 1px solid
  transform: translate3d(0, 0, 0)

.cell
  height: 30px
  background: white
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  &--header
    position: sticky
    top: 0

@media all and (-ms-high-contrast:none)
  .container
    position: relative
    // padding-top: 30px

  .grid
    // margin-top: -30px

  .cell
    &--header
      position: absolute
      top: 0