<h1>Css grid</h1>
<div class="grid">
    <div class="cell cell--header" [ngStyle]="getMsStyles(1, 1)"><span class="content">contact.id</span></div>
    <div class="cell cell--header" [ngStyle]="getMsStyles(2, 1)"><span class="content">contact.first_name</span></div>
    <div class="cell cell--header" [ngStyle]="getMsStyles(3, 1)"><span class="content">contact.last_name</span></div>
    <div class="cell cell--header" [ngStyle]="getMsStyles(4, 1)"><span class="content">contact.email</span></div>
    <div class="cell cell--header" [ngStyle]="getMsStyles(5, 1)"><span class="content">contact.gender</span></div>
    <div class="cell cell--header" [ngStyle]="getMsStyles(6, 1)"><span class="content">contact.ip_address</span></div>
  <ng-container class="row" *ngFor="let contact of data; let i = index">
    <div class="cell" [ngStyle]="getMsStyles(1, i + 2)"><span class="content">{{contact.id}}</span></div>
    <div class="cell" [ngStyle]="getMsStyles(2, i + 2)"><span class="content">{{contact.first_name}}</span></div>
    <div class="cell" [ngStyle]="getMsStyles(3, i + 2)"><span class="content">{{contact.last_name}}</span></div>
    <div class="cell" [ngStyle]="getMsStyles(4, i + 2)"><span class="content">{{contact.email}}</span></div>
    <div class="cell" [ngStyle]="getMsStyles(5, i + 2)"><span class="content">{{contact.gender}}</span></div>
    <div class="cell" [ngStyle]="getMsStyles(6, i + 2)"><span class="content">{{contact.ip_address}}</span></div>
  </ng-container>
</div>
